<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Auth Cookie in ASP.NET Core</title>
</head>

<body>
  <div>
    <div>
      @RenderBody()
    </div>

    <footer>
      <p>&copy; 2019 - Auth Cookie in ASP.NET Core</p>
    </footer>
  </div>
</body>
</html>
