/* ===========================================================

	$SPRITES

=========================================================== */


/* ======== ICONS SPRITE PATHS ======== */

/* ---- White ----*/
.icon--white.icon--12 		                            {background-image:url("../assets/icons/white/12/sprite-12_white.png");}
.icon--white.icon--16 		                            {background-image:url("../assets/icons/white/16/sprite-16_white.png");}
.icon--white.icon--20 		                            {background-image:url("../assets/icons/white/20/sprite-20_white.png");}
.icon--white.icon--24 		                            {background-image:url("../assets/icons/white/24/sprite-24_white.png");}
.icon--ennrolments-white.icon--24 		                {background-image:url("../assets/icons/white/24/sprite-enrolments-24_white.png");}
.icon--white.icon--32 		                            {background-image:url("../assets/icons/white/32/sprite-32_white.png");}
.icon--ennrolments-white.icon--32 		                {background-image:url("../assets/icons/white/32/sprite-enrolments-32_white.png");}

/* ---- Grey ----*/
/* Dark */
.icon--darkGrey.icon--12 		                        {background-image:url("../assets/icons/grey/12/sprite-12_grey-dark.png");}
.icon--darkGrey.icon--16 		                        {background-image:url("../assets/icons/grey/16/sprite-16_grey-dark.png");}
.icon--darkGrey.icon--20 		                        {background-image:url("../assets/icons/grey/20/sprite-20_grey-dark.png");}
.icon--darkGrey.icon--24 		                        {background-image:url("../assets/icons/grey/24/sprite-24_grey-dark.png");}
.icon--ennrolments-darkGrey.icon--24 		            {background-image:url("../assets/icons/grey/24/sprite-enrolments-24_grey-dark.png");}
.icon--darkGrey.icon--32 		                        {background-image:url("../assets/icons/grey/32/sprite-32_grey-dark.png");}
.icon--ennrolments-darkGrey.icon--32 		            {background-image:url("../assets/icons/grey/32/sprite-enrolments-32_grey-dark.png");}

/* ---- Black ----*/
/* Pure */
.icon--pureBlack.icon--12 		                        {background-image:url("../assets/icons/black/12/sprite-12_black-pure.png");}
.icon--pureBlack.icon--16 		                        {background-image:url("../assets/icons/black/16/sprite-16_black-pure.png");}
.icon--pureBlack.icon--20 		                        {background-image:url("../assets/icons/black/20/sprite-20_black-pure.png");}
.icon--pureBlack.icon--24 		                        {background-image:url("../assets/icons/black/24/sprite-24_black-pure.png");}
.icon--pureBlack.icon--32 		                        {background-image:url("../assets/icons/black/32/sprite-32_black-pure.png");}
/* Dark */
.icon--darkBlack.icon--12 		                        {background-image:url("../assets/icons/black/12/sprite-12_black-dark.png");}
.icon--darkBlack.icon--16 		                        {background-image:url("../assets/icons/black/16/sprite-16_black-dark.png");}
.icon--darkBlack.icon--20 		                        {background-image:url("../assets/icons/black/20/sprite-20_black-dark.png");}
.icon--darkBlack.icon--24 		                        {background-image:url("../assets/icons/black/24/sprite-24_black-dark.png");}
.icon--darkBlack.icon--32 		                        {background-image:url("../assets/icons/black/32/sprite-32_black-dark.png");}
/* Medium */
.icon--mediumBlack.icon--12 		                    {background-image:url("../assets/icons/black/12/sprite-12_black-medium.png");}
.icon--mediumBlack.icon--16 		                    {background-image:url("../assets/icons/black/16/sprite-16_black-medium.png");}
.icon--mediumBlack.icon--20 		                    {background-image:url("../assets/icons/black/20/sprite-20_black-medium.png");}
.icon--mediumBlack.icon--24 		                    {background-image:url("../assets/icons/black/24/sprite-24_black-medium.png");}
.icon--mediumBlack.icon--32 		                    {background-image:url("../assets/icons/black/32/sprite-32_black-medium.png");}

/* ---- Blue ---- */
/* Dark *//*
.icon--darkBlue.icon--12 		                        {background-image:url("../assets/icons/blue/12/sprite-12_blue-dark.png");}
.icon--darkBlue.icon--16 		                        {background-image:url("../assets/icons/blue/16/sprite-16_blue-dark.png");}
.icon--darkBlue.icon--20 		                        {background-image:url("../assets/icons/blue/20/sprite-20_blue-dark.png");}
.icon--darkBlue.icon--24 		                        {background-image:url("../assets/icons/blue/24/sprite-24_blue-dark.png");}
.icon--darkBlue.icon--32 		                        {background-image:url("../assets/icons/blue/32/sprite-32_blue-dark.png");} */
/* Medium */
.icon--mediumBlue.icon--12 		                        {background-image:url("../assets/icons/blue/12/sprite-12_blue-medium.png");}
.icon--mediumBlue.icon--16 		                        {background-image:url("../assets/icons/blue/16/sprite-16_blue-medium.png");}
.icon--mediumBlue.icon--20 		                        {background-image:url("../assets/icons/blue/20/sprite-20_blue-medium.png");}
.icon--mediumBlue.icon--24 		                        {background-image:url("../assets/icons/blue/24/sprite-24_blue-medium.png");}
.icon--enrolments-mediumBlue.icon--24 		            {background-image:url("../assets/icons/blue/24/sprite-enrolments-24_blue-medium.png");}
.icon--mediumBlue.icon--32 		                        {background-image:url("../assets/icons/blue/32/sprite-32_blue-medium.png");}
.icon--enrolments-mediumBlue.icon--32 		            {background-image:url("../assets/icons/blue/32/sprite-enrolments-32_blue-medium.png");}
/* Light *//*
.icon--mediumBlue.icon--12 		                        {background-image:url("../assets/icons/blue/12/sprite-12_blue-light.png");}
.icon--mediumBlue.icon--16 		                        {background-image:url("../assets/icons/blue/16/sprite-16_blue-light.png");}
.icon--mediumBlue.icon--20 		                        {background-image:url("../assets/icons/blue/20/sprite-20_blue-light.png");}
.icon--mediumBlue.icon--24 		                        {background-image:url("../assets/icons/blue/24/sprite-24_blue-light.png");}
.icon--mediumBlue.icon--32 		                        {background-image:url("../assets/icons/blue/32/sprite-32_blue-light.png");}*/

/* ---- Olive ---- 
* Dark * 
.icon--darkOlive.icon--12 		                        {background-image:url("../assets/icons/olive/12/sprite-12_olive-dark.png");}
.icon--darkOlive.icon--16 		                        {background-image:url("../assets/icons/olive/16/sprite-16_olive-dark.png");}
.icon--darkOlive.icon--20 		                        {background-image:url("../assets/icons/olive/20/sprite-20_olive-dark.png");}
.icon--darkOlive.icon--24 		                        {background-image:url("../assets/icons/olive/24/sprite-24_olive-dark.png");}
.icon--darkOlive.icon--32 		                        {background-image:url("../assets/icons/olive/32/sprite-32_olive-dark.png");}
* Medium *
.icon--lightOlive.icon--12 		                        {background-image:url("../assets/icons/olive/12/sprite-12_olive-light.png");}
.icon--lightOlive.icon--16 		                        {background-image:url("../assets/icons/olive/16/sprite-16_olive-light.png");}
.icon--lightOlive.icon--20 		                        {background-image:url("../assets/icons/olive/20/sprite-20_olive-light.png");}
.icon--lightOlive.icon--24 		                        {background-image:url("../assets/icons/olive/24/sprite-24_olive-light.png");}
.icon--lightOlive.icon--32 		                        {background-image:url("../assets/icons/olive/32/sprite-32_olive-light.png");}
*/

/* ---- Green ---- */
/* Dark *//*
.icon--darkGreen.icon--12 		                        {background-image:url("../assets/icons/green/12/sprite-12_green-dark.png");}
.icon--darkGreen.icon--16 		                        {background-image:url("../assets/icons/green/16/sprite-16_green-dark.png");}
.icon--darkGreen.icon--20 		                        {background-image:url("../assets/icons/green/20/sprite-20_green-dark.png");}
.icon--darkGreen.icon--24 		                        {background-image:url("../assets/icons/green/24/sprite-24_green-dark.png");}
.icon--darkGreen.icon--32 		                        {background-image:url("../assets/icons/green/32/sprite-32_green-dark.png");}*/
/* Medium *//*
.icon--mediumGreen.icon--12 		                    {background-image:url("../assets/icons/green/12/sprite-12_green-medium.png");}
.icon--mediumGreen.icon--16 		                    {background-image:url("../assets/icons/green/16/sprite-16_green-medium.png");}
.icon--mediumGreen.icon--20 		                    {background-image:url("../assets/icons/green/20/sprite-20_green-medium.png");}
.icon--mediumGreen.icon--24 		                    {background-image:url("../assets/icons/green/24/sprite-24_green-medium.png");}
.icon--mediumGreen.icon--32 		                    {background-image:url("../assets/icons/green/32/sprite-32_green-medium.png");}*/
/* Light *//*
.icon--lightGreen.icon--12 		                        {background-image:url("../assets/icons/green/12/sprite-12_green-light.png");}
.icon--lightGreen.icon--16 		                        {background-image:url("../assets/icons/green/16/sprite-16_green-light.png");}
.icon--lightGreen.icon--20 		                        {background-image:url("../assets/icons/green/20/sprite-20_green-light.png");}
.icon--lightGreen.icon--24 		                        {background-image:url("../assets/icons/green/24/sprite-24_green-light.png");}
.icon--lightGreen.icon--32 		                        {background-image:url("../assets/icons/green/32/sprite-32_green-light.png");}*/

/* ---- Yellow ---- */
/* Dark *//*
.icon--darkYellow.icon--12 		                        {background-image:url("../assets/icons/yellow/12/sprite-12_yellow-dark.png");}
.icon--darkYellow.icon--16 		                        {background-image:url("../assets/icons/yellow/16/sprite-16_yellow-dark.png");}
.icon--darkYellow.icon--20 		                        {background-image:url("../assets/icons/yellow/20/sprite-20_yellow-dark.png");}
.icon--darkYellow.icon--24 		                        {background-image:url("../assets/icons/yellow/24/sprite-24_yellow-dark.png");}
.icon--darkYellow.icon--32 		                        {background-image:url("../assets/icons/yellow/32/sprite-32_yellow-dark.png");}*/
/* Medium *//*
.icon--mediumYellow.icon--12 		                    {background-image:url("../assets/icons/yellow/12/sprite-12_yellow-medium.png");}
.icon--mediumYellow.icon--16 		                    {background-image:url("../assets/icons/yellow/16/sprite-16_yellow-medium.png");}
.icon--mediumYellow.icon--20 		                    {background-image:url("../assets/icons/yellow/20/sprite-20_yellow-medium.png");}
.icon--mediumYellow.icon--24 		                    {background-image:url("../assets/icons/yellow/24/sprite-24_yellow-medium.png");}
.icon--mediumYellow.icon--32 		                    {background-image:url("../assets/icons/yellow/32/sprite-32_yellow-medium.png");}*/
/* Light *//*
.icon--lightYellow.icon--12 		                    {background-image:url("../assets/icons/yellow/12/sprite-12_yellow-light.png");}
.icon--lightYellow.icon--16 		                    {background-image:url("../assets/icons/yellow/16/sprite-16_yellow-light.png");}
.icon--lightYellow.icon--20 		                    {background-image:url("../assets/icons/yellow/20/sprite-20_yellow-light.png");}
.icon--lightYellow.icon--24 		                    {background-image:url("../assets/icons/yellow/24/sprite-24_yellow-light.png");}
.icon--lightYellow.icon--32 		                    {background-image:url("../assets/icons/yellow/32/sprite-32_yellow-light.png");}*/

/* ---- Orange ---- */
/* Dark *//*
.icon--darkOrange.icon--12 		                        {background-image:url("../assets/icons/orange/12/sprite-12_orange-dark.png");}
.icon--darkOrange.icon--16 		                        {background-image:url("../assets/icons/orange/16/sprite-16_orange-dark.png");}
.icon--darkOrange.icon--20 		                        {background-image:url("../assets/icons/orange/20/sprite-20_orange-dark.png");}
.icon--darkOrange.icon--24 		                        {background-image:url("../assets/icons/orange/24/sprite-24_orange-dark.png");}
.icon--darkOrange.icon--32 		                        {background-image:url("../assets/icons/orange/32/sprite-32_orange-dark.png");}*/
/* Medium *//*
.icon--mediumOrange.icon--12 		                    {background-image:url("../assets/icons/orange/12/sprite-12_orange-medium.png");}
.icon--mediumOrange.icon--16 		                    {background-image:url("../assets/icons/orange/16/sprite-16_orange-medium.png");}
.icon--mediumOrange.icon--20 		                    {background-image:url("../assets/icons/orange/20/sprite-20_orange-medium.png");}
.icon--mediumOrange.icon--24 		                    {background-image:url("../assets/icons/orange/24/sprite-24_orange-medium.png");}
.icon--mediumOrange.icon--32 		                    {background-image:url("../assets/icons/orange/32/sprite-32_orange-medium.png");}*/
/* Light *//*
.icon--mediumOrange.icon--12 		                    {background-image:url("../assets/icons/orange/12/sprite-12_orange-light.png");}
.icon--mediumOrange.icon--16 		                    {background-image:url("../assets/icons/orange/16/sprite-16_orange-light.png");}
.icon--mediumOrange.icon--20 		                    {background-image:url("../assets/icons/orange/20/sprite-20_orange-light.png");}
.icon--mediumOrange.icon--24 		                    {background-image:url("../assets/icons/orange/24/sprite-24_orange-light.png");}
.icon--mediumOrange.icon--32 		                    {background-image:url("../assets/icons/orange/32/sprite-32_orange-light.png");}*/

/* ---- Red ---- */
/* Dark *//*
.icon--darkRed.icon--12 		                        {background-image:url("../assets/icons/red/12/sprite-12_red-dark.png");}
.icon--darkRed.icon--16 		                        {background-image:url("../assets/icons/red/16/sprite-16_red-dark.png");}
.icon--darkRed.icon--20 		                        {background-image:url("../assets/icons/red/20/sprite-20_red-dark.png");}
.icon--darkRed.icon--24 		                        {background-image:url("../assets/icons/red/24/sprite-24_red-dark.png");}
.icon--darkRed.icon--32 		                        {background-image:url("../assets/icons/red/32/sprite-32_red-dark.png");}*/
/* Medium *//*
.icon--mediumRed.icon--12 		                        {background-image:url("../assets/icons/red/12/sprite-12_red-medium.png");}
.icon--mediumRed.icon--16 		                        {background-image:url("../assets/icons/red/16/sprite-16_red-medium.png");}
.icon--mediumRed.icon--20 		                        {background-image:url("../assets/icons/red/20/sprite-20_red-medium.png");}
.icon--mediumRed.icon--24 		                        {background-image:url("../assets/icons/red/24/sprite-24_red-medium.png");}
.icon--mediumRed.icon--32 		                        {background-image:url("../assets/icons/red/32/sprite-32_red-medium.png");}*/
/* Light *//*
.icon--mediumRed.icon--12 		                        {background-image:url("../assets/icons/red/12/sprite-12_red-light.png");}
.icon--mediumRed.icon--16 		                        {background-image:url("../assets/icons/red/16/sprite-16_red-light.png");}
.icon--mediumRed.icon--20 		                        {background-image:url("../assets/icons/red/20/sprite-20_red-light.png");}
.icon--mediumRed.icon--24 		                        {background-image:url("../assets/icons/red/24/sprite-24_red-light.png");}
.icon--mediumRed.icon--32 		                        {background-image:url("../assets/icons/red/32/sprite-32_red-light.png");}*/


