
/* ======== 48px ICON SPRITE LOCATIONS VARIABLES ======== */ 

// NOT CURRENTLY USED
$icon48-add:0;
$icon48-arrowhead-up:-98px;
$icon48-arrowhead-down:-196px;
$icon48-arrowhead-left:-294px;
$icon48-arrowhead-right:-392px;
$icon48-chevron-down:-490px;
$icon48-chevron-left:-588px;
$icon48-chevron-right:-686px;
$icon48-chevron-up:-784px;
$icon48-basket:-882px;
$icon48-tick:-980px;
$icon48-redo:-1078px;
$icon48-sync:-1176px;
$icon48-refresh:-1274px;
$icon48-undo:-1372px;
$icon48-edit:-1470px;
$icon48-cursor:-1568px;
$icon48-close:-1666px;
$icon48-cancel:-1764px;
$icon48-delete:-1862px;
$icon48-home:-1960px;
$icon48-user:-2058px;
$icon48-user-search:-2156px;
$icon48-user-add:-2254px;
$icon48-user-delete:-2352px;
$icon48-user-refresh:-2450px;
$icon48-user-time:-2548px;
$icon48-user-info:-2646px;
$icon48-user-lock:-2744px;
$icon48-user-new:-2842px;
$icon48-user-back:-2940px;
$icon48-user-world:-3038px;
$icon48-user-mail:-3136px;
$icon48-user-settings:-3234px;
$icon48-data:-3332px;
$icon48-data-edit:-3430px;
$icon48-data-search:-3528px;
$icon48-data-replace:-3626px;
$icon48-data-delete:-3724px;
$icon48-data-add:-3822px;
$icon48-data-error:-3920px;
$icon48-data-warning:-4018px;
$icon48-data-copy:-4116px;
$icon48-login:-4214px;
$icon48-logout:-4312px;
$icon48-document:-4410px;
$icon48-document-download:-4508px;
$icon48-document-add:-4606px;
$icon48-document-search:-4704px;
$icon48-document-warning:-4802px;
$icon48-document-exchange:-4900px;
$icon48-warning:-4998px;
$icon48-submit:-5096px;
$icon48-tick-alt:-5194px;
$icon48-upload:-5292px;
$icon48-download:-5390px;
$icon48-save:-5488px;
$icon48-error:-5586px;
$icon48-excel:-5684px;
$icon48-word:-5782px;
$icon48-pdf:-5880px;
$icon48-pdf-export:-5978px;
$icon48-csv-export:-6076px;
$icon48-tooltip:-6174px;
$icon48-info:-6272px;
$icon48-clock:-6370px;
$icon48-search-clock:-6468px;
$icon48-lock-open:-6566px;
$icon48-lock-closed:-6664px;
$icon48-print:-6762px;
$icon48-search:-6860px;
$icon48-view:-6958px;
$icon48-search-refresh:-7056px;
$icon48-search-open:-7154px;
$icon48-mail:-7252px;
$icon48-filter:-7350px;
$icon48-filter-edit:-7448px;
$icon48-filter-accept:-7546px;
$icon48-filter-descending:-7644px;
$icon48-filter-ascending:-7742px;
$icon48-filter-add:-7840px;
$icon48-filter-delete:-7938px;
$icon48-filter-new:-8036px;
$icon48-flag:-8134px;
$icon48-critical:-8232px;
$icon48-menu:-8330px;
$icon48-star:-8428px;
$icon48-sticker-free:-8526px;
$icon48-sticker-new:-8624px;
$icon48-star-new:-8722px;
$icon48-power:-8820px;
$icon48-star-cute:-8918px;
$icon48-sticker-sale:-9016px;
$icon48-sticker-discount:-9114px;
$icon48-collapse:-9212px;
$icon48-expand:-9310px;
$icon48-sync-alt:-9408px;
$icon48-count:-9506px;
$icon48-grid:-9604px;
$icon48-bin:-9702px;
