/* ===========================================================

	$BUTTONS

=========================================================== */


/* ---- BUTTONS CONTAINER ---- */
DIV.buttons						                    {clear:both; margin-top:0px; margin-bottom:$baseLineHeight; text-align:right;}
SPAN.buttons                                        {display:inline-block; width:auto; text-align:right;}
.buttons--no-margin					                {margin-top:0; margin-bottom:0;}
.buttons--small-margin					            {margin-top:10px; margin-bottom:10px;}
.buttons--left					                    {text-align:left;}



/* ---- BUTTONS ---- */
.button							                    {display:inline-block; position:relative; height:35px; padding:8px 15px 6px; border:$borderWidth solid; text-align:center; vertical-align:bottom; 
                                                     font-family:$fontSetSecondary; font-size:22px; font-weight:600; cursor:pointer; -webkit-appearance:none; text-transform:uppercase;}

.back                                               {float:left;}
 

/* Standard 'box' button */	
.button--primary,
.button--secondary 				                    {transition:background $transitionSpeed ease, color $transitionSpeed ease;}

.button--primary 				                    {background:$buttonBackgroundPrimary; border-color:transparent; color:$buttonTextColourPrimary;
								                     &:hover,&:focus {background:$buttonBackgroundPrimaryHover; color:$buttonTextColourPrimaryHover;}}							 
.button--secondary 				                    {background:$buttonBackgroundSecondary; border-color:$grey-medium; color:$buttonTextColourSecondary;
								                     &:hover,&:focus {background:$buttonBackgroundSecondaryHover; color:$buttonTextColourSecondaryHover;}}

.button--primary.disabled                           {background:$buttonBackgroundDisabled; border-color:transparent; color:$buttonTextColourPrimary;
								                     &:hover,&:focus {background:$buttonBackgroundDisabled; color:$buttonTextColourPrimary;cursor: default;}}				
								 
/* Standard 'box' button with icon */									 
.button.button--icon			                    {position:relative; padding-left:50px;}

/* Icon only button */								 							 
.button.button--icon-only	                        {width:24px; height:24px; padding:0; border:0; margin-right:10px; background-color:transparent; font-size:0; line-height:0;}



/* ---- GRID BUTTONS ---- */
.grid-button					                    {display:inline-block; padding:5px 15px; border:1px solid; vertical-align:bottom; font-size:$baseSize; cursor:pointer; transition:background $transitionSpeed ease, color $transitionSpeed ease;}

/* Standard 'box' grid button */				 
.grid-button--primary 			                    {background:$buttonBackgroundPrimary; border-color:transparent; color:$buttonTextColourPrimary;
								                     &:hover,&:focus {background:$buttonBackgroundPrimaryHover; color:$buttonTextColourPrimaryHover;}}
.grid-button--secondary 		                    {background:$buttonBackgroundSecondary; border-color:$grey-medium; color:$buttonTextColourSecondary;
								                     &:hover,&:focus {background:$buttonBackgroundSecondaryHover; color:$buttonTextColourSecondaryHover;}}	

/* Standard 'box' grid button with icon */	
.grid-button.grid-button--icon                      {position:relative; padding:5px 15px 5px 50px; background-repeat:no-repeat;}

/* Icon only grid buttons */								 							 
.grid-button.grid-button--icon-only	                {width:36px; height:36px; padding:0; border:0; margin-right:10px; background-color:transparent; font-size:0; line-height:0;}
/* Specific icon buttons */
.grid-button--icon-only I.icon.icon--view,
.grid-button--icon-only.icon--view                  {background-image:url("../assets/icons/single/view-blue-mid-48.png"); background-position:center center; background-size:36px;}	

.action--icons li                                   {list-style-type:none; float: left; margin:0px;}
						
/* ---- BUTTONS WITH ICONS (Universal) ---- */
.button IMG,
.grid-button IMG                                    {display:none; position:absolute; z-index:100; left:10px; top:0; bottom:0; margin:auto 0;}
.button.button--icon IMG,
.grid-button.grid-button--icon IMG                  {display:inline-block;}	


/* ---- BUTTON MODIFIERS ---- */
.button--no-text                                    {font-size:0; line-height:0;}
.button--no-box                                     {border:0; background-color:transparent;}


/*.read-more                                          {float: left; border: 0; background: $orange; padding: 7px 15px; color: #fff; border-radius: 0px; font-size: 13px; height: auto; margin-right: 15px; -webkit-appearance: none; border: 1px solid $orange;}
.read-more:hover                                    {color: #fff !important;}

.log                                                {background:  #fff url('../assets/images/lock.png') no-repeat 7px 8px; color: $blue; border: 1px solid $grey-light; font-weight: 600; padding-left: 30px;}*/


//.primary.left, .secondary.left                      {float: left;}
//.primary.right, .secondary.right                    {float: right;}

/* ============================================================== MEDIA QUERIES ============================================================== */

/* ---- ALL MOBILE (0 - 600px) ---- */
@media only screen and (max-width: $breakpoint-medium-small) {

    /* ---- BUTTONS CONTAINER ---- */
    SPAN.buttons                                        {display:block; width:100%; padding-top:20px; text-align:center;}

    /* ---- BUTTONS ---- */
	.button 						                    {width:100%;}
	.button + .button 				                    {margin-top:10px;}

}

/* ---- ALL MOBILE & TABLET (0 - 768px) ---- */
@media only screen and (max-width: $breakpoint-medium) {

    /* ---- BUTTONS CONTAINER ---- */
    DIV.buttons						                    {margin-top:0;}

    /* ---- INLINE FIELD BUTTONS ---- */
    DIV.fields--multiple > .button                      {position:relative; width:100%;}	

}

/* ---- TABLET & DESKTOP (768px +) ---- */
@media only screen and (min-width: $breakpoint-medium) {

    /* ---- INLINE FIELD BUTTONS ---- */
    DIV.fields--multiple > .button                      {position:absolute; bottom:0; right:0;}	

    /* ---- BUTTONS ---- */
	.buttons .button + .button 				            {margin-left:10px; margin-right:0;}
	.buttons.buttons--left .button + .button 			{margin-left:0; margin-right:10px;}

} 