<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <!--GigyaSettings-->
    <add key="GigyaApiKey" value="" />
    <add key="GigyaProspectApiKey" value="" />
    <add key="GigyaSecretKey" value="" />
    <add key="GigyaUserKey" value="" />
    <add key="GigyaDataCenterUS" value="us1.gigya.com" />    
    <add key="GigyaAccountsGetJwtPublicKey" value="accounts.getJWTPublicKey" />
    <add key="GigyaIdsSearch" value="ids.search" />
    <add key="GigyaIdsGetAccountInfo" value="ids.getAccountInfo" />
    <add key="GigyaIdsSetAccountInfo" value="ids.setAccountInfo" />
    <add key="GigyaAccountsRegister" value="accounts.register" />
    <add key="GigyaAccountsGetAccountInfo" value="accounts.getAccountInfo" />
    <add key="GigyaAccountsLogin" value="accounts.login" />
    <add key="GigyaAccountsLogout" value="accounts.logout" />
    <add key="GigyaAccountsResetPassword" value="accounts.resetPassword" />
    <add key="GigyaAccountsDeleteAccount" value="accounts.deleteAccount" />
    <add key="GigyaDsSearch" value="ds.search" />
    
    <!--SmartyStreetsSettings-->
    <add key="SmartyStreetsAuthId" value="" />
    <add key="SmartyStreetsAuthToken" value="" />

    <!--JwtTokenAuthenticationSettings-->
    <add key="JwtTokenAuthenticationSecretKey" value="" />
    <add key="JwtTokenAuthenticationIssuer" value="" /> <!--"LOCAL AUTHORITY"-->
    <add key="JwtTokenAuthenticationAudience" value="" />    
  </appSettings>
  
</configuration>